<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    配置bean的话，我们就可以用spring的方式调用bean-->
    <bean id="helloDao" class="HelloDao"/>

    <bean id="helloService" class="HelloService">
        <property name="helloDao" ref="helloDao"/>
    </bean>
</beans>